$textColor: #fff;
$primaryColor: #4c84ff;
$BgColor: #171c32;
$secondBgColor: #202640;
$bgProgress: #71768e;
$trackColor: #94a2c6;

$additionalBgColor: transparent;
$btnColor: #007bff;
$secondTextColor: #007bff;