@import "../../common/styles/variables.scss";

.skillsBlock {
  padding:5px 30px 20px 30px;
  margin: auto;
  //width: 50%;
  width: 100%;
  text-align: center;
  background: $BgColor;
  border-radius: 10px;
}



